.challenges-wrapper
  .challenge
    = render 'clayout', challenge: challenge
    .challenge-bottom
      .title
        .title-content
          .user-name
            =link_to challenge.user.user_name, profile_path(challenge.user.user_name)
          = challenge.title
      .comments{id: "comments_#{challenge.id}"}
        - if challenge.comments
          = render challenge.comments.first(5), challenge: challenge
