/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 //
 // Archivo|Baloo+Da|Chango|Cutive+Mono|Della+Respira|Emblema+One|
 // Fascinate|Holtwood+One+SC|Marko+One|Mitr|Pavanam|Pompiere|
 // Stint+Ultra+Expanded|Stoke|Waiting+for+the+Sunrise

 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alert {
  margin-bottom: 0px;
}

/* ## NAVBAR CUSTOMISATIONS ## */

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  max-width: 95%;
  margin: 0 auto;
}

/* ## CHALLENGE CUSTOMISATIONS ## */

.challenges-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 95%;
  width: 100%;
}

.image {
    position: relative;
    float: left;
    max-width:  350px;
    max-height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.challenge {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .challenge-head {
    text-align: center;
    .title {
      font-size: 3em;
      font-family: "Stoke";
    }
    .time-ago {
      font-size: .8em;
      font-family: "Stint Ultra Expanded";
    }
  }
  .challenge-body {
    display: flex;
    align-items: center;
    .versus {
      margin: 1.8em auto 0 auto;
    }
    .col-md-5 {
      .creator {
        font-size: 2em;
        font-family: "Archivo";
        float: left;
        // margin: auto;
      }
      .challenger {
        font-size: 2em;
        font-family: "Mitr";
        float: right;
        margin-right: 2em;
        // margin: auto;
      }
    }

  }
}
