
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>What's shaking' <%= @challenge.user.user_name %>,</h1>
    <p>
      You've got a challenger for <%= @challenge.title %> at skin in the game . com.
      Best bring your A game and step to it!
      We're rooting for you :)
    </p>
  </body>
</html>
